/*#region [Variable]*/
/*#endregion*/
.guild-info {
  background-image: url("/Content/Image/Event-2017/Thang3/ev3_br.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: none;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 0px; }
  .guild-info .logo {
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%); }
  .guild-info .event3_3 {
    /*height: 100%;
        position: relative;
        margin-top: 215px;*/ }
    .guild-info .event3_3 .name-guild {
      margin-top: 160px;
      width: calc(100%/3);
      height: 40px;
      margin-left: 30px;
      border: solid 1px white;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.21);
      color: white; }
      .guild-info .event3_3 .name-guild .icon-guild {
        object-fit: cover;
        border-radius: 50%;
        width: 33px;
        height: 33px;
        margin: 2px;
        float: left; }
      .guild-info .event3_3 .name-guild .div-title {
        font-style: italic;
        font-size: 11px; }
      .guild-info .event3_3 .name-guild .title-name {
        margin-left: 45px;
        font-family: "Lucida Sans Unicode";
        font-size: 20px;
        font-style: italic;
        font-variant: small-caps;
        font-weight: bold;
        line-height: 24px; }
    .guild-info .event3_3 .number-guild {
      position: absolute;
      height: 40px;
      width: calc(100%/5 + 20px);
      border: solid 1px white;
      margin-top: 160px;
      color: white;
      margin-left: calc(100%/3 + 50px);
      font-size: 16px;
      font-family: "Lucida Sans Unicode";
      font-style: italic;
      padding-top: 8px;
      background-color: rgba(0, 0, 0, 0.21); }
      .guild-info .event3_3 .number-guild .icon-number {
        height: 25px;
        margin-top: -3px;
        margin-left: 5px; }
    .guild-info .event3_3 .icon-bxh {
      margin-top: 160px;
      position: absolute;
      right: 0px;
      margin-right: calc(20px);
      height: 40px;
      width: calc(100% - 100%/3 - 100%/5 - 120px);
      cursor: pointer; }
    .guild-info .event3_3 .content-limit {
      position: absolute;
      margin-top: 220px;
      margin-left: 20px;
      width: calc(100% - 40px); }
      .guild-info .event3_3 .content-limit .main-item {
        width: calc(100%/3 - 10px);
        text-align: center;
        height: 100px;
        padding: 1px;
        background-color: rgba(0, 0, 0, 0.21);
        border: solid 1px white;
        border-radius: 5px;
        margin-left: 5px;
        margin-top: 5px;
        position: relative;
        float: left; }
        .guild-info .event3_3 .content-limit .main-item .icon-require .photoname {
          width: 70px;
          margin-top: 5px; }
        .guild-info .event3_3 .content-limit .main-item .icon-require .icon-done {
          height: 15px;
          width: 50%;
          margin-top: 4px; }

