/*#region [Variable]*/
/*#endregion*/
.show-gift:after {
  display: table;
  content: " ";
  clear: both; }

.show-gift .nav-tabs li a {
  display: block;
  padding: 2px 0 !important;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.show-gift .tab-content {
  height: -webkit-calc(100% - 68px);
  height: -moz-calc(100% - 68px);
  height: -ms-calc(100% - 68px);
  height: -o-calc(100% - 68px);
  height: calc(100% - 68px);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }
  .show-gift .tab-content .tab-pane {
    height: 100%; }

.show-gift .gift-category {
  overflow: auto; }
  .show-gift .gift-category:after {
    display: table;
    content: " ";
    clear: both; }
  .show-gift .gift-category .gift-item {
    float: left;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    position: relative; }
    .show-gift .gift-category .gift-item.ng-enter {
      -webkit-transition: 0.5s linear;
      -moz-transition: 0.5s linear;
      -o-transition: 0.5s linear;
      transition: 0.5s linear;
      opacity: 0; }
    .show-gift .gift-category .gift-item.ng-enter-active {
      opacity: 1; }
    .show-gift .gift-category .gift-item .img-container {
      width: 40px;
      height: 40px;
      border-radius: inherit; }
    .show-gift .gift-category .gift-item:hover, .show-gift .gift-category .gift-item:focus {
      border-color: #e2e2e2;
      background-color: rgba(255, 255, 255, 0.6); }
    .show-gift .gift-category .gift-item.active {
      border-color: #f15d69;
      background-color: rgba(255, 255, 255, 0.6); }
    @media (max-width: 414px) {
      .show-gift .gift-category .gift-item {
        position: relative; } }

.show-gift .panel {
  padding: 5px;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none; }
  .show-gift .panel .gift-quantity {
    display: inline-block;
    width: 120px;
    margin-right: 10px; }
    @media (max-width: 415px) {
      .show-gift .panel .gift-quantity .ui-select-match {
        display: none; } }
    .show-gift .panel .gift-quantity .ui-select-toggle {
      padding: 5px 10px;
      height: 30px;
      font-size: 14px; }
    .show-gift .panel .gift-quantity .ui-select-placeholder {
      line-height: 20px;
      font-size: 14px; }
    .show-gift .panel .gift-quantity .ui-select-search {
      padding: 5px 10px;
      height: 30px;
      line-height: 20px; }
    .show-gift .panel .gift-quantity .gift-quantity-item:after {
      display: table;
      content: " ";
      clear: both; }
    .show-gift .panel .gift-quantity .gift-quantity-item .photo {
      float: left;
      width: 20px;
      height: 20px;
      margin-right: 10px; }
    .show-gift .panel .gift-quantity .gift-quantity-item .name {
      float: left;
      width: -webkit-calc(100% - 20px - 10px);
      width: -moz-calc(100% - 20px - 10px);
      width: -ms-calc(100% - 20px - 10px);
      width: -o-calc(100% - 20px - 10px);
      width: calc(100% - 20px - 10px);
      line-height: 20px; }
    @media (max-width: 415px) {
      .show-gift .panel .gift-quantity {
        width: 0; } }
  .show-gift .panel .give-free-coin {
    margin-right: 0px !important; }
  .show-gift .panel button {
    margin-right: 10px;
    height: 30px; }
    @media (max-width: 1000px) {
      .show-gift .panel button.give-free-coin, .show-gift .panel button.recharge-coin, .show-gift .panel button.give {
        margin-top: 10px; } }

