@import "../_lib.scss";
@import "../_core.scss";

.show-item {
    float: left;
    position: relative;
    width: 220px;
    height: 220px;
    margin: 10px;
    border: 1px solid $color-line-gray;
    border-radius: $border-radius;
    overflow: hidden;

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .photo {
        width: 100%;
        height: 100%;
        background: url(/Content/Image/Background-Item/Meo-gif.gif) center;
        border-radius: inherit;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .photo-avatar {
        transform: rotate(-45deg);
        background-color: #e85e68;
        width: 200%;
        text-align: center;
        height: 35px;
        position: absolute;
        top: 15px;
        right: -30px;

        img {
            width: 75px;
        }

        b {
            float: left;
            margin-left: calc(48% - 30px);
            margin-top: -2px;
            font-size: 8px;
        }


        .percent-level-process {
            float: left;
            width: 65px;
            height: 10px;
            margin: -2px 5px;
            border-radius: 3px;
            border: 1px solid $color-light-gray;
            text-align: left;

            > div {
                height: 100%;

                background: {
                    image: url("/Content/Image/bar2.png");
                    repeat: repeat-x;
                    size: auto 100%;
                }
            }
        }
    }

    .phone {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
    }

    .name {
        position: absolute;
        z-index: 2;
        width: 100%;
        min-height: 33px;
        bottom: 0;
        left: 0;
        padding-top: 10px;
        padding: 5px 10px;
        padding-right: 80px;
        font-size: $font-size-large-2;
        color: $color-white;
        pointer-events: none;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+70 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 70%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 70%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 70%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        //@include text-ellipsis;
        font-weight: bold;
    }

    .start-time {
        position: absolute;
        z-index: 2;
        bottom: 5px;
        right: 0;
        padding: 3px 5px;
        border-bottom-left-radius: $border-radius;
        font-size: $font-size-large-1;
        // background-color: rgba($color-black, 0.7);
        color: $color-white;

        .fa {
            margin-right: 5px;
        }
    }

    .show-info {
        position: absolute;
        z-index: 2;
        bottom: 10px;
        right: 0;
        padding: 0px 5px;
        border-bottom-left-radius: $border-radius;
        // background-color: rgba($color-black, 0.7);
        color: $color-white;
        pointer-events: none;

        .live {
            height: 13px;
            margin-right: 8px;
            vertical-align: middle;
        }

        .view {
            line-height: 14px;
            font-size: 14px;
        }
    }

    .level {
        visibility: hidden;
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        height: 18px;
    }

    .uc-follow-button {
        visibility: hidden;
        position: absolute;
        z-index: 2;
        //  @include pos-center-h;
        top: 10px;
        right: 10px;
        border-radius: 3px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    &:hover, &:focus {
        .photo {
            &:before {
                content: " ";
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
            }

            &:hover:after {
                @include fa;
                content: "\f04b";
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 40%;
                @include pos-center;
                padding: 5px 15px;
                background-color: rgba($color-black, 0.8);
                border-radius: 5px;
                color: $color-primary;
                font-size: 30px;
            }
        }

        .level {
            visibility: visible;
        }

        .uc-follow-button {
            visibility: visible;
        }
    }
}
