/*#region [Variable]*/
/*#endregion*/
.show-sent-gift .panel-body {
  height: -webkit-calc(100% - 2px);
  height: -moz-calc(100% - 2px);
  height: -ms-calc(100% - 2px);
  height: -o-calc(100% - 2px);
  height: calc(100% - 2px);
  padding: 10px !important; }
  .show-sent-gift .panel-body .list {
    height: 100%;
    overflow: auto; }

.show-sent-gift .sent-gift-item:after {
  display: table;
  content: " ";
  clear: both; }

.show-sent-gift .sent-gift-item:not(:last-child) {
  margin-bottom: 10px; }

.show-sent-gift .sent-gift-item > div {
  float: left; }
  .show-sent-gift .sent-gift-item > div:not(:last-child) {
    margin-right: 5px; }
  .show-sent-gift .sent-gift-item > div.time {
    width: 15px; }
  .show-sent-gift .sent-gift-item > div.user {
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: -ms-calc(100% - 55px);
    width: -o-calc(100% - 55px);
    width: calc(100% - 55px); }
  .show-sent-gift .sent-gift-item > div.gift {
    width: 30px; }

.show-sent-gift .sent-gift-item .time {
  text-align: center; }

.show-sent-gift .sent-gift-item .user a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.show-sent-gift .sent-gift-item .gift .img-container {
  width: 30px;
  height: 20px; }

