@import "../_lib.scss";
@import "../_core.scss";
/*@import url('https://fonts.googleapis.com/css?family=Oswald');*/
.show-status {
    width: 100%;
    height: 100px;
    @include clearfix;
    /*@media (max-width: $screen-width-1) {
        display: none;
    }*/
    .status {
        padding: 7px;
        background-color: $color-panel-background;
        border-radius: $border-radius;
        position: relative;
        width: 100%;
        float: left;

        .name {
            @include text-ellipsis;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(255,255,255,.5);
            font-size: $font-size-large-2;
            font-weight: bold;
            height: 29px;
        }

        .event {
            @include text-ellipsis;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(255,255,255,.5);
            font-size: $font-size-large-2;
            font-weight: bold;
            height: 29px;
        }

        .description {
            height: 30px;
        }

        .PromotionValueDescription {
            position: absolute;
            width: 50%;
            height: 50%;
            top: 0;
            right: 0;
        }
    }

    .mission {
        padding: 0px;
        background-color: $color-panel-background;
        border-radius: $border-radius;
        position: relative;
        width: 100%;
        /*margin-right: 10px;*/
        float: left;
        min-height: 88px;

        .in0 {
            border: 2px solid transparent;
            @include clearfix;
            background: url('/Content/Image/Event-2017/Thang4/eve1_stbr1.png');
            background-size: 100% 100%;
            height: 100px;

            .name {
                color: white;
                font-size: 25px;
                margin-top: 25px;
                text-align: center;

                img {
                    width: 80%;
                }
            }
        }

        .in1 {
            border: 2px solid transparent;
            @include clearfix;
            background: url('/Content/Image/Event-2017/Thang4/eve1_stbr1.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .content-mission {
                width: calc(100% - 145px);
                min-width: 260px;
                float: left;
                padding-right: 5px;
                height: 100px;

                .name-mission {
                    height: 40px;

                    .name {
                        float: left;
                        font-style: oblique;
                        font-size: 16px;
                        width: 160px;
                        margin-top: 15px;
                        margin-left: 35px;
                        color: #fff;
                    }

                    .value {
                        margin-top: 15px;
                        float: right;
                        width: 100px;
                        margin-right: -25px;
                        font-style: italic;
                        font-size: 12px;
                        color: #fff;
                    }
                }

                .description {
                    height: 58px;
                    margin-top: 5px;
                    width: 390px;
                    margin-left: 15px;

                    .insistence {
                        height: 100%;
                        width: 61px;
                        float: left;
                        border-radius: 4px;
                        font-weight: 600;
                        line-height: 30px;
                        margin-right: 5px;
                        color: white;
                        font-size: 9px;

                        .photo {
                            width: 25px;
                            height: 25px;
                            /* margin-left: 10px; */
                            background: rgba(255,255,255,.6);
                            border-radius: 4px;
                            float: left;
                            margin-right: 3px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .img-huy {
                        float: RIGHT;
                        width: 65px;
                    }
                }
            }

            .info-mission {
                width: 140px;
                float: right;
                height: 100px;
                position: relative;

                .info-sms {
                    color: white;
                    margin-top: 20px;
                    font-size: 12px;
                    font-style: italic;
                }

                .avatar-star1 {
                    float: left;
                    width: 50px;
                    margin-top: 25px;
                    margin-left: 5px;
                }

                .avatar-star2 {
                    border-radius: 50%;
                    width: 36px;
                    position: absolute;
                    top: 32px;
                    left: 12px;
                }

                .name-avatar {
                    float: left;
                    color: white;
                    margin-top: 30px;
                    margin-left: 5px;
                    font-size: 15px;
                }

                .name-user {
                    color: white;
                    font-size: 10px;
                    font-style: italic;
                    position: absolute;
                    bottom: 30px;
                    right: 5px;
                    width: 80px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 1.2em;
                    white-space: nowrap;
                }
            }
        }

        .in2 {
            border: 2px solid transparent;
            @include clearfix;
            background: url('/Content/Image/Event-2017/Thang4/eve1_stbr2.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .content-mission {
                width: calc(100% - 145px);
                min-width: 260px;
                float: left;
                padding-right: 5px;
                height: 100px;

                .name-mission {
                    height: 40px;

                    .name {
                        float: left;
                        font-style: oblique;
                        font-size: 16px;
                        width: 160px;
                        margin-top: 15px;
                        margin-left: 35px;
                        color: #fff;
                    }

                    .value {
                        margin-top: 15px;
                        float: right;
                        width: 100px;
                        margin-right: -25px;
                        font-style: italic;
                        font-size: 12px;
                        color: #fff;
                    }
                }

                .description {
                    height: 58px;
                    margin-top: 5px;
                    width: 390px;
                    margin-left: 15px;

                    .insistence {
                        height: 100%;
                        width: 61px;
                        float: left;
                        border-radius: 4px;
                        font-weight: 600;
                        line-height: 30px;
                        margin-right: 5px;
                        color: white;
                        font-size: 9px;

                        .photo {
                            width: 25px;
                            height: 25px;
                            /* margin-left: 10px; */
                            background: rgba(255,255,255,.6);
                            border-radius: 4px;
                            float: left;
                            margin-right: 3px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .img-huy {
                        float: RIGHT;
                        width: 65px;
                    }
                }
            }

            .info-mission {
                width: 140px;
                float: right;
                height: 100px;
                position: relative;

                .info-sms {
                    color: white;
                    margin-top: 20px;
                    font-size: 12px;
                    font-style: italic;
                }

                .avatar-star1 {
                    float: left;
                    width: 50px;
                    margin-top: 25px;
                    margin-left: 5px;
                }

                .avatar-star2 {
                    border-radius: 50%;
                    width: 36px;
                    position: absolute;
                    top: 32px;
                    left: 12px;
                }

                .name-avatar {
                    float: left;
                    color: white;
                    margin-top: 30px;
                    margin-left: 5px;
                    font-size: 15px;
                }

                .name-user {
                    color: white;
                    font-size: 10px;
                    font-style: italic;
                    position: absolute;
                    bottom: 30px;
                    right: 5px;
                    width: 90px;
                }
            }
        }

        .intwo {
            border: 2px solid transparent;
            @include clearfix;
            background: url('/Content/Image/Event-2016/Eventthang12/XepHang2/background_nv_ct.png');
            background-size: 100% 100%;
        }
    }

    .mission30_4 {
        background: url('/Content/Image/Event-2017/Thang4/event2_sttbr.png');
        background-size: 100% 100%;
        height: 100px;

        .in0 {
            position: relative;

            .item1 {
                height: 100px;
                position: absolute;
                left: 0px;
                cursor: pointer;
            }

            .item2 {
                height: 100px;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                cursor: pointer;
            }

            .item3 {
                height: 100px;
                position: absolute;
                right: 0px;
                cursor: pointer;
            }
        }

        .in1 {
            position: relative;

            .icon-mission {
                height: 90px;
                width: 140px;
                margin-left: 5px;
                margin-top: 5px;
                float: left;
            }

            .content-mission {
                float: right;
                width: calc(100% - 240px);
                position: relative;
                right: 85px;

                .name-mission {
                    font-size: 14px;
                    font-style: italic;
                    font-weight: bolder;
                    margin-top: 20px;
                    margin-left: 10px;
                    border-radius: 100px;
                    color: #f00;
                    font-family: "Times New Roman", Georgia, serif;
                }

                .percent-level-process {
                    position: relative;
                    float: left;
                    width: calc(100% - 40px);
                    height: 25px;
                    margin: -2px 5px;
                    border-radius: 5px;
                    border: 2px solid #f3f3f3;
                    text-align: left;
                    padding: 0.5px;
                    background-color: orange;

                    .had {
                        height: 21px;
                        margin-top: -0.5px;
                        margin-left: -0.5px;
                        border-radius: 3px;
                        position: absolute;
                        Z-INDEX: 2;

                        background: {
                            color: #178619;
                            repeat: repeat-x;
                            size: auto 100%;
                        }
                    }
                    .had1 {
                        height: 21px;
                        margin-top: -0.5px;
                        margin-left: -0.5px;
                        border-radius: 3px;
                        position: absolute;
                        Z-INDEX: 2;

                        background: {
                            color: #ea0000;
                            repeat: repeat-x;
                            size: auto 100%;
                        }
                    }

                    .lost {
                        height: 21px;
                        margin-top: -0.5px;
                        margin-left: -0.5px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        z-index: 1;
                        border-radius: 6px;

                        background: {
                            color: orange;
                            repeat: repeat-x;
                            size: auto 100%;
                        }
                    }

                    .icon-precent {
                        height: 40px;
                        width: 60px;
                        top: -12px;
                        left: -25px;
                        position: absolute;
                        z-index: 3;
                    }
                }

                .point-mission {
                    position: absolute;
                    width: 70px;
                    bottom: 25px;
                    right: 65px;

                    .point-list {
                        position: relative;
                        width: 70px;
                        height: 120px;

                        @include keyframes(smokeLLL) {
                            0% {
                                opacity: 0;
                                left: 0px;
                                top: 0%;
                            }

                            10% {
                                opacity: .1;
                                left: 0px;
                                top: 10%;
                            }

                            20% {
                                opacity: .2;
                                left: 0px;
                                top: 20%;
                            }

                            30% {
                                opacity: .3;
                                left: 0px;
                                top: 30%;
                            }

                            40% {
                                opacity: .4;
                                left: 0px;
                                top: 40%;
                            }

                            50% {
                                opacity: .5;
                                left: 0px;
                                top: 50%;
                            }

                            60% {
                                opacity: .6;
                                left: 0px;
                                top: 60%;
                            }

                            70% {
                                opacity: .7;
                                left: 0px;
                                top: 70%;
                            }

                            80% {
                                opacity: .8;
                                left: 0px;
                                top: 80%;
                            }

                            90% {
                                opacity: .9;
                                left: 0px;
                                top: 90%;
                            }

                            100% {
                                opacity: 1;
                                left: 0px;
                                top: 100%;
                            }
                        }

                        @include keyframes(mymove) {
                            0% {
                                opacity: 1;
                                top: 100%;
                            }

                            20% {
                                opacity: .8;
                                top: 80%;
                            }

                            40% {
                                opacity: .6;
                                top: 60%;
                            }

                            60% {
                                opacity: .4;
                                top: 40%;
                            }

                            80% {
                                opacity: .2;
                                top: 20%;
                            }

                            100% {
                                opacity: 0;
                                top: 0%;
                            }
                        }

                        .point {
                            width: 70px;
                            font-family: Impact, Charcoal, sans-serif;
                            font-size: 25px;
                            color: #f00;
                            font-style: italic;
                            font-weight: 900;
                            bottom: 0px;
                            position: absolute;
                            -webkit-text-stroke: 1.5px white;
                            text-align: center;
                            @include animation(mymove 2s 0s linear);


                            .div-item {
                                bottom: -15px;
                                text-align: center;
                                width: 80px;
                                right: -20px;
                                font-size: 3vw;
                            }

                            .img-item {
                                width: 95px;
                            }
                        }
                    }
                }

                .icon-gift {
                    width: 40px;
                    position: absolute;
                    top: 5px;
                    right: 10px;
                }
            }

            .control-mission {
                width: 80px;
                height: 100px;
                right: 10px;
                position: absolute;
                top: 10px;

                .bxh {
                    width: 70px;
                }

                .delete-mission {
                    width: 70px;
                    margin-top: 10px;
                }
            }

            .popover {
                background-color: rgba(253, 253, 253, 0.5);
                padding: 0px;
                top: 5px !important;
                left: 155px !important;
                display: block;
                border-radius: 5px;

                .popover-content {
                    padding: 5px 5px;
                    color: black;
                    font-style: italic;
                    font-weight: 600;
                    font-size: 10px;
                }
            }
        }
    }

    .in {
        padding: 5px;
        background-color: $color-primary;
        color: $color-white;
        border-radius: inherit;
    }

    .mission-thang-8 {
        padding: 5px;
        background-color: $color-panel-background;
        border-radius: $border-radius;
        position: relative;
        width: 100%;
        margin-right: 10px;
        float: left;
        min-height: 88px;

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 10px;
            left: -8px;
            border-color: transparent;
            border-style: solid;
            border-width: 8px 8px 8px 0;
            border-right-color: $color-panel-background;
        }

        .name-mission {
            @include text-ellipsis;
            text-align: right;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(255,255,255,.5);
            font-size: $font-size-large-2;
            font-weight: bold;
            height: 29px;

            a {
                border-radius: 4px;
                background-color: #d95bf4;
                border-radius: 2px;
                margin-left: 5px;
                text-decoration: none;
                padding: 2px 5px;
                padding-bottom: 4px;

                &:hover {
                    text-decoration: none;
                }

                .fa {
                    &.fa-star {
                        color: #ffffff;
                    }
                }
            }

            .btn-top {
                height: 100%;
                padding: 0px 6px;
                background-color: #d95bf4;

                a {
                    padding: 0;
                    margin: 0;
                    color: #ffffff;

                    .fa-server {
                        color: #ffffff;
                    }
                }
            }
        }

        .description {
            height: 30px;

            .btn-mission {
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,1);
                font-size: 17px;
                font-weight: 600;
                padding-top: 4px;
                color: $color-primary;

                &:hover {
                }
            }

            .btn-ring {
                padding: 0px 5px;
                font-size: 15px;
                font-weight: 500;
                float: right;
                margin-left: 5px;
                background-color: #fe6600;
                border-radius: 2px;
            }

            .insistence {
                height: 100%;
                width: auto;
                float: left;
                border-radius: 4px;
                font-weight: 600;
                line-height: 30px;
                margin-right: 10px;

                .photo {
                    width: 30px;
                    height: 100%;
                    background: rgba(255,255,255,.6);
                    border-radius: 4px;
                    float: left;
                    margin-right: 3px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .level {
                float: left;
                width: calc(100% - 300px);
                position: relative;

                .progress {
                    margin-bottom: 0px;
                    border-radius: 20px;
                    margin-top: 8px;
                    height: 15px;
                }

                img {
                    position: absolute;
                    right: -30px;
                    top: -6px;
                }

                .RequireGiftAmount {
                    font-size: 10px;
                    position: absolute;
                    z-index: 999;
                    top: 5px;

                    &.class {
                        right: -15px;
                    }

                    &.class1 {
                        right: -19px;
                    }

                    &.class2 {
                        right: -22px;
                    }

                    &.class3 {
                        right: -26px;
                    }
                }
            }
        }

        .in {
            border: 2px solid transparent;
            @include clearfix;
            background-image: url('../../Content/Image/Event-2016/EventThang8/background-show.png');
        }
    }

    .mission-thang-10-4 {
        @include clearfix;
        width: 100%;
        position: relative;
        background-image: url(/Content/Image/Event-2016/Eventthang10/cover-show-status.png);
        background-size: 100% 100%;

        .in {
            background: transparent;
        }
    }

    .event-thang1 {
        border: 2px solid transparent;
        @include clearfix;
        background: url('/Content/Image/Event-2017/Thang1/status_bg1.png');
        background-size: 100% 100%;
        min-height: 75px;
        max-height: 75px;

        .info {
            img {
                width: 25px;
                margin-left: 7%;
                margin-top: 10px;
                float: left;
            }

            .box-text {
                margin-top: 15px;
                margin-left: 16px;
                width: 55%;
                float: left;
                max-height: 50px;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 5px;
                    height: 10px;
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    -webkit-border-radius: 0px;
                    border-radius: 0px;
                }

                &::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 0px;
                    border-radius: 0px;
                    background: rgba(0, 0, 0, 0.1);
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
                }

                &::-webkit-scrollbar-thumb:window-inactive {
                    background: rgba(255, 0, 0, 0.1);
                }

                .text-noti {
                    font-size: 13px;
                    color: #ffa500;
                }
            }
        }

        .rank {
            float: right;
            max-height: 70px;
            max-width: 95px;
            margin-right: 3%;

            img {
                width: 40px;
                margin-top: 15px;
                float: left;
            }

            .number-rank {
                font-size: 30px;
                color: orange;
                float: left;
                margin-top: 15px;
            }
        }
    }

    .status3 {
        width: 100%;

        .event-thang1-1 {
            border: 1px solid transparent;
            @include clearfix;
            background: url('/Content/Image/Event-2017/Thang2/show_br1.png');
            background-size: 100% 100%;
            width: calc(100% - 150px);
            height: 75px;
            float: left;

            .info {
                img {
                    width: 25px;
                    margin-left: 15%;
                    margin-top: 10px;
                    float: left;
                }

                .box-text {
                    margin-top: 20px;
                    margin-left: 60px;
                    width: 70%;
                    float: left;
                    max-height: 50px;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        width: 5px;
                        height: 10px;
                    }

                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        -webkit-border-radius: 0px;
                        border-radius: 0px;
                    }

                    &::-webkit-scrollbar-thumb {
                        -webkit-border-radius: 0px;
                        border-radius: 0px;
                        background: rgba(0, 0, 0, 0.1);
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
                    }

                    &::-webkit-scrollbar-thumb:window-inactive {
                        background: rgba(255, 0, 0, 0.1);
                    }

                    .text-noti {
                        font-size: 13px;
                        color: white;
                    }
                }
            }
        }

        .event-thang1-2 {
            border: 1px solid transparent;
            @include clearfix;
            background: url('/Content/Image/Event-2017/Thang2/show_br2.png');
            background-size: 100% 100%;
            height: 75px;
            min-width: 140px;
            margin-left: 5px;
            float: left;

            .unitinfo {
                width: 70px;
                float: left;
                margin-left: 2px;

                img {
                    width: 45px;
                    margin-top: 20px;
                    float: left;
                }

                .value-unit {
                    color: white;
                    right: 30px;
                    font-size: 20px;
                    position: absolute;
                    margin-top: 20px;
                }
            }
        }
    }

    .status4 {
        width: 100%;

        .event-thang3-1 {
            border: 1px solid transparent;
            @include clearfix;
            background: url('/Content/Image/Event-2017/Thang3/showbr.png');
            background-size: 100% 100%;
            width: calc(100%);
            height: 75px;
            float: left;
        }

        table {
            float: right;
            margin-top: calc(10px);
            margin-right: 20px;

            tbody {
                tr {
                    td {
                        padding: 10px;

                        img {
                            margin-top: -10px;
                        }

                        .sp1 {
                            font-size: 25px;
                            color: #dd4348;
                        }

                        .sp2 {
                            font-size: 25px;
                            color: #3daa70;
                        }

                        .sp3 {
                            font-size: 25px;
                            color: #d13a8f;
                        }
                    }
                }
            }
        }
    }

    .status5 {
        width: 100%;
        height: 95px;
        background-color: rgba(57, 145, 196, 0.45);

        .event-thang3-1 {
            border: 1px solid transparent;
            @include clearfix;
            background: url('/Content/Image/Event-2017/Thang3/ev4_brshow1.png');
            background-size: 100% 100%;
            width: calc(100% - 150px);
            height: 75px;
            float: left;
            margin-left: 10px;
            margin-top: 10px;

            img {
                width: 120px;
                margin-left: 5px;
                margin-top: 2px;
                float: left;
            }

            .box-text {
                margin-top: 10px;
                margin-left: 10px;
                width: calc(100% - 150px);
                float: left;
                max-height: 60px;
                min-height: 60px;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 5px;
                    height: 10px;
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    -webkit-border-radius: 0px;
                    border-radius: 0px;
                }

                &::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 0px;
                    border-radius: 0px;
                    background: rgba(0, 0, 0, 0.1);
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
                }

                &::-webkit-scrollbar-thumb:window-inactive {
                    background: rgba(255, 0, 0, 0.1);
                }

                .text-noti {
                    font-size: 13px;
                    color: white;
                }
            }
        }

        .event-thang3-2 {
            border: 1px solid transparent;
            @include clearfix;
            background: url('/Content/Image/Event-2017/Thang3/ev4_brshow2.png');
            background-size: 100% 100%;
            height: 75px;
            min-width: 120px;
            margin-left: 5px;
            float: left;
            margin-top: 10px;
            position: relative;

            img {
                width: 45px;
                margin-top: 15px;
                float: left;
                margin-left: 5px;
            }

            .unitinfo {
                width: 70px;
                float: left;
                margin-left: 2px;



                .value-unit {
                    color: white;
                    right: 15px;
                    font-size: 20px;
                    position: absolute;
                    margin-top: 15px;
                }

                .img-bt {
                    width: 60px;
                    position: absolute;
                    bottom: 5px;
                    cursor: pointer;
                }
            }
        }
    }

    #modal-event-thang-3 {
        background-color: rgba(0,0,0,.5);

        .modal-content {
            background-color: white;

            .modal-dialog {
                width: 500px;
            }

            .modal-body {
                padding: 0;
                $height: 42px;

                .img-thinhstar {
                    position: absolute;
                    right: 80px;
                    top: -5px;
                    width: 40px;
                    cursor: pointer;
                }

                .div-thinhstar {
                    line-height: $height;
                    font-size: $font-size-large-2;
                    font-weight: bold;
                    color: red;
                    position: absolute;
                    right: 20px;
                    top: -5px;
                }
            }

            .nav-tabs {
                margin: 10px;
                margin-bottom: 15px;
            }

            .tab-pane {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                overflow: hidden;

                > div {
                    max-height: 350px;
                    overflow-y: auto;
                }
            }

            .list-item {
                $height: 42px;
                @include clearfix;
                padding: 10px;
                border-top: 1px solid $color-line-gray;

                &:nth-child(2n) {
                    background: $color-background-gray;
                }

                .rank-number {
                    float: left;
                    width: 20px;
                    margin-right: 10px;
                    line-height: $height;
                    font-size: $font-size-large-1;
                    font-weight: bold;
                }

                .rank-item {
                    float: left;
                    @include property(width, calc(100% - 230px), value);
                    height: $height;

                    .uc-user-list-item {
                        padding: 0;
                    }
                }

                .value {
                    color: black;
                    float: left;
                    width: 100px;
                    text-align: right;
                    line-height: $height;
                    font-size: $font-size-large-2;
                    font-weight: bold;
                }

                .us-bt {
                    margin-left: 10px;
                }
            }
        }
    }

    #modal-info-thang-4-1 {
        background-color: rgba(0,0,0,.5);
        z-index: 2;

        .modal-content {
            background-color: white;

            .modal-header {
            }

            .modal-body {
                padding: 0;
                text-align: center;
                height: 450px;
                background: url('../../Content/Image/Event-2017/Thang4/eve1_popupbr.png');

                .logo {
                    width: 200px;
                }

                .content {
                    .fisrt-mission {
                        width: 90%;
                        height: 160px;
                        margin-top: 15px;
                        margin-left: 50%;
                        transform: translate(-50%);

                        .first-item {
                            float: left;
                            width: calc(100% / 3);
                            position: relative;
                            height: 100%;

                            .first-data {
                                position: absolute;
                                width: 55%;
                                height: 75px;
                                left: calc(50% + 10px);
                                transform: translate(-50%);
                                top: 50px;

                                .data-item {
                                    width: calc(50%);
                                    height: 35px;
                                    float: left;

                                    .photo {
                                        top: 0;
                                        width: 20px;
                                        margin-left: 0px;
                                        float: left;
                                    }

                                    .data {
                                        float: left;
                                        color: #f15d69;
                                        margin-left: 3px;
                                    }
                                }
                            }

                            .b-text {
                                position: absolute;
                                top: 15px;
                                left: calc(50% + 5px);
                                transform: translate(-50%);
                                z-index: 1;
                                font-size: 10px;
                                width: 100px;
                            }

                            .img-item {
                                position: absolute;
                                top: 0px;
                                left: 50%;
                                transform: translate(-50px);
                            }

                            .img-nhan {
                                position: absolute;
                                left: calc(50% + 7px);
                                transform: translate(-50%);
                                width: 90px;
                                bottom: 5px;
                                cursor: pointer;
                            }
                        }
                    }

                    .second-mission {
                        width: 70%;
                        height: 160px;
                        margin-top: 15px;
                        margin-left: 50%;
                        transform: translate(-50%);

                        .second-item {
                            float: left;
                            width: calc(100% / 2);
                            position: relative;
                            height: 100%;

                            .second-data {
                                position: absolute;
                                width: 55%;
                                height: 75px;
                                left: calc(50% + 10px);
                                transform: translate(-50%);
                                top: 50px;

                                .data-item {
                                    width: calc(50%);
                                    height: 35px;
                                    float: left;

                                    .photo {
                                        top: 0;
                                        width: 20px;
                                        margin-left: 0px;
                                        float: left;
                                    }

                                    .data {
                                        float: left;
                                        color: #f15d69;
                                        margin-left: 3px;
                                    }
                                }
                            }

                            .b-text {
                                position: absolute;
                                top: 15px;
                                left: calc(50% + 5px);
                                transform: translate(-50%);
                                z-index: 1;
                                font-size: 10px;
                                width: 100px;
                            }

                            .img-item {
                                position: absolute;
                                top: 0px;
                                left: 50%;
                                transform: translate(-50px);
                            }

                            .img-nhan {
                                position: absolute;
                                left: calc(50% + 7px);
                                transform: translate(-50%);
                                width: 90px;
                                bottom: 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    #modal-info-thang-4-2 {
        background-color: rgba(0,0,0,.5);
        z-index: 2;

        .modal-content {
            background-color: transparent;
            border: none;
            box-shadow: none;

            .modal-body {
                .img-br {
                    width: 95%;
                    margin-left: 50%;
                    transform: translate(-50%);
                }

                .text-content {
                    position: absolute;
                    color: white;
                    font-size: 20px;
                    top: 46%;
                    left: 50%;
                    transform: translate(-50%);
                    width: 60%;
                }

                .div-control {
                    position: absolute;
                    width: 60%;
                    top: 65%;
                    left: calc(50% + 25px);
                    transform: translate(-50%);

                    .img-dongy {
                        cursor: pointer;
                    }

                    .img-kodongy {
                        margin-left: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #modal-info-thang-4-3 {
        background-color: rgba(0,0,0,.5);
        z-index: 2;

        .modal-content {
            background-color: white;

            .modal-body {
                padding: 0px;
                height: 550px;
                width: 600px;
                background: url('../../Content/Image/Event-2017/Thang4/eve1_popubr2.png');
                background-size: 100% 100%;

                i {
                    position: absolute;
                    font-size: 20px;
                    right: 10px;
                    top: 10px;
                }

                .img-content {
                    top: 160px;
                    margin-left: 50%;
                    transform: translate(-50%);
                    width: 50%;
                    position: relative;
                    height: 85px;

                    .avatar-user {
                        border-radius: 50%;
                        position: absolute;
                        left: 0px;
                        width: 80px;
                        height: 80px;
                    }

                    .img-user {
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        width: 60px;
                        height: 60px;
                        margin-top: 10px;
                        margin-left: 10px;
                    }

                    .avatar-idol {
                        border-radius: 50%;
                        position: absolute;
                        right: 0px;
                        width: 80px;
                        height: 80px;
                    }

                    .img-idol {
                        border-radius: 50%;
                        position: absolute;
                        right: 0;
                        width: 60px;
                        height: 60px;
                        margin-top: 10px;
                        margin-right: 10px;
                    }
                }

                .text-content {
                    height: 40px;
                    position: relative;
                    top: 165px;
                    color: #f15d69;
                    margin-left: 50%;
                    transform: translate(-50%);
                    width: 60%;
                    text-align: center;
                    font-size: 17px;

                    .user-name {
                        float: left;
                        width: 40%;
                    }

                    .vs-text {
                        float: left;
                        width: 20%;
                        font-size: 30px;
                        margin-top: -15px;
                    }

                    .idol-name {
                        float: right;
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media(max-width:500px) {
    .name-mission2 {
        display: none !important;
    }

    .description2 {
        min-width: 200px !important;
    }
}
