/*#region [Variable]*/
/*#endregion*/
.uc-show-toolbar:after {
  display: table;
  content: " ";
  clear: both; }

.uc-show-toolbar a {
  margin: 0;
  padding: 0;
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  line-height: 38px;
  color: #fff; }
  .uc-show-toolbar a .fa {
    font-size: 20px; }
  .uc-show-toolbar a:hover, .uc-show-toolbar a:focus {
    color: #fff; }
  .uc-show-toolbar a:not(:last-child) {
    margin-right: 8px; }
  .uc-show-toolbar a.home {
    background-color: #f15d69; }
  .uc-show-toolbar a.opening-show {
    background-color: #4965A0; }
  .uc-show-toolbar a.show-schedule {
    background-color: #f87423; }
  .uc-show-toolbar a.show-rank {
    background-color: #aa19e8; }
  .uc-show-toolbar a.shop {
    background-color: #029578; }
  .uc-show-toolbar a.col-toggle {
    background-color: rgba(37, 37, 37, 0.8); }
    .uc-show-toolbar a.col-toggle:hover, .uc-show-toolbar a.col-toggle:focus {
      background-color: #252525; }

