<div class="uc-show-toolbar">
    <div class="pull-left">
        <a href="/" class="home btn" uib-tooltip="Trang chủ" tooltip-placement="bottom">
            <i class="fa fa-home"></i>
        </a>
        <a href="#" class="opening-show btn" uib-tooltip="Các show khác" tooltip-placement="bottom" ng-click="onShowOpening()">
            <i class="fa fa-tv"></i>
        </a>
        <a href="#" class="show-schedule btn" uib-tooltip="Lịch diễn" tooltip-placement="bottom" ng-click="onShowSchedule()" star-id="{{starId}}" show-id="{{showId}}">
            <i class="fa fa-calendar"></i>
        </a>
        <a href="#" class="show-rank btn" uib-tooltip="Bảng xếp hạng" tooltip-placement="bottom" ng-click="onShowRank()">
            <i class="fa fa-line-chart"></i>
        </a>
        <a href="/shop" target="_blank" class="shop btn" uib-tooltip="Cửa hàng" tooltip-placement="bottom">
            <i class="fa fa-shopping-cart"></i>
        </a>
    </div>
    <div class="pull-right">
        <a href="#" class="col-toggle btn" uib-tooltip="Ẩn cột" tooltip-placement="bottom" ng-if="!isMobile" ng-click="onHide()">
            <i class="fa fa-angle-double-{{hideDirection}}"></i>
        </a>
        <a href="#" class="col-toggle btn" uib-tooltip="Hiện cột user" tooltip-placement="bottom" ng-if="isMobile" ng-click="onShowTabUser()">
            <i class="fa fa-users" tooltip-placement="bottom"></i>
        </a>
    </div>
    <div class="clearfix"></div>
</div>