<div class="footer" ng-if="layoutShowFooter">
    <div class="container">
        <div class="info">
            <a class="logo" href="/">
                <img alt="Teen Idol" src="/Content/Image/Logo/logo-w-200.png" />
            </a>
            <div>
                Giấy phép: GPMXH Số 360 / GP-BTTTT cấp ngày 30/06/2016
            </div>
            <div>
                Trụ sở: 372 Trần Hưng Đạo, P.2, Q.5, TP. HCM
            </div>
            <div>
                ĐT: (08) 38 539 559 | Fax: (08) 38 539 559
            </div>
            <div>
                Email: <a>info@tfl.vn</a>
            </div>
            <div>
                <a href="{{ helper.linkAction('/about') }}">Liên hệ</a>,
                <a href="{{ helper.linkAction('/policy') }}">Pháp lý</a>,
                <a href="{{ helper.linkAction('/regulation') }}">Quy chế</a>,
                <a href="{{ helper.linkAction('/ads') }}">Liên Hệ Quảng Cáo</a>
            </div>
        </div>

        <div class="follow-us">
            <h1>Follow Us</h1>
            <a href="https://www.facebook.com/Teenidol.vn/?fref=ts">
                <img src="/Content/Image/facebook-logo-blue.png" /> Facebook
            </a>
            <a href="https://www.youtube.com/channel/UC5v2kheQfJYjAci2oZfSWew">
                <img src="/Content/Image/logo-youtube.png" /> Youtube
            </a>
        </div>

        <div class="facebook-page">

            <!--            <div class="fb-page" data-href="https://www.facebook.com/teenidols.vn" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">-->
            <!---->
            <!--                <div class="fb-xfbml-parse-ignore">-->
            <!---->
            <!--                    <blockquote cite="https://www.facebook.com/teenidols.vn">-->
            <!---->
            <!--                        <a href="https://www.facebook.com/teenidols.vn">Teenidol</a>-->
            <!---->
            <!--                    </blockquote>-->
            <!---->
            <!--                </div>-->
            <!---->
            <!--            </div>-->

        </div>
    </div>

    <div class="coppy-right" style="background: black; height: 40px; margin-top: 5px">
        <div class="container" style="line-height: 40px">
            Copyright Teenidol © 2015
        </div>
    </div>
</div>