<!DOCTYPE html>
<html lang="en" ng-app="teenidolApp" ng-controller="layoutController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VivuLive - Live your life</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!--<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">-->
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url" content="https://teenidol.vn/show/6">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Casting ở TeenIdol.Vn">
    <meta property="og:description" content="Room này chuyên dùng để casting idol mới! Mời các ad vào tham gia.">
    <meta property="og:image" content="https://file.teenidol.vn/Image/e3962065cbd8468aa3c8.jpg">
    <meta property="fb:app_id" content="178105295860987" />

    <meta name="ioslink" property="al:ios:url"
          content="teenidoliosscheme://?objectId=8260&objectTypeId=6&streamServer=rtmp://210.245.18.43/live/&streamKey=8260_TrangNgo" />
    <meta property="al:ios:app_store_id" content="1219887331" />
    <meta property="al:ios:app_name" content="Teenidol" />


    <meta property="al:android:url" content="teenidol://teenidol.vn" />
    <meta property="al:android:app_name" content="@showredirect" />
    <meta property="al:android:package" content="tfl.com.vn.teenidol" />

    @*<meta http-equiv="refresh" content="5;url=teenidoliosscheme://" />*@

    <base href="/">
    <script>
        window.location = "vivulive://";
    </script>
</head>
<body>
    Hello
</body>