/*#region [Variable]*/
/*#endregion*/
.modal-show-banner-event .modal-content {
  background: transparent;
  box-shadow: none;
  border: 0; }

.modal-show-banner-event .modal-body {
  padding: 0px;
  margin-top: -2px;
  height: auto; }
  .modal-show-banner-event .modal-body:after {
    display: table;
    content: " ";
    clear: both; }
  .modal-show-banner-event .modal-body a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
    .modal-show-banner-event .modal-body a img {
      width: 100%;
      position: relative; }
    .modal-show-banner-event .modal-body a .img-container {
      width: 100%;
      height: 100%; }
      @media (max-width: 415px) {
        .modal-show-banner-event .modal-body a .img-container {
          height: 33%; } }
    .modal-show-banner-event .modal-body a div {
      position: absolute;
      bottom: 60px;
      left: 16%; }
  .modal-show-banner-event .modal-body img {
    width: 100%;
    position: relative; }
  .modal-show-banner-event .modal-body .img-container {
    width: 100%;
    height: 100%; }
    @media (max-width: 415px) {
      .modal-show-banner-event .modal-body .img-container {
        height: 33%; } }
  .modal-show-banner-event .modal-body div {
    position: absolute;
    bottom: 60px;
    left: 16%; }
  .modal-show-banner-event .modal-body button.close {
    position: absolute;
    background: #fff;
    right: 0;
    z-index: 9999;
    color: #f15d69;
    line-height: 0;
    top: 15px;
    opacity: 1;
    right: 10px; }

