/*#region [Variable]*/
/*#endregion*/
.modal-edit-guild .modal-body:after {
  display: table;
  content: " ";
  clear: both; }

.modal-edit-guild .modal-body .form-group {
  margin-bottom: 10px; }
  .modal-edit-guild .modal-body .form-group:after {
    display: table;
    content: " ";
    clear: both; }
  .modal-edit-guild .modal-body .form-group .avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%; }
  .modal-edit-guild .modal-body .form-group .btn-file {
    margin-left: 20px; }
  .modal-edit-guild .modal-body .form-group .icon {
    height: 18px;
    width: auto;
    object-fit: cover; }
  .modal-edit-guild .modal-body .form-group .btn-icon {
    height: auto;
    padding-top: 1px;
    padding-bottom: 1px; }

