.modal-info-tower {
    .modal-body {
        text-align: center;

        .progress {
            .center {
                width: 100%;
                text-align: center;
                position: absolute;
                line-height: 20px;
            }
        }
    }

    .name {
        font-size: 20px;
    }
}
