/*#region [Variable]*/
/*#endregion*/
.modal-rank-guild .modal-dialog .modal-content {
  background: transparent;
  box-shadow: none;
  border: none; }
  .modal-rank-guild .modal-dialog .modal-content .modal-header {
    position: relative;
    background: transparent; }
    .modal-rank-guild .modal-dialog .modal-content .modal-header .modal-title {
      margin: 0;
      line-height: 28px;
      margin-right: 10px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      z-index: 99;
      top: -10px; }
  .modal-rank-guild .modal-dialog .modal-content .modal-body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: #fff; }
    .modal-rank-guild .modal-dialog .modal-content .modal-body:after {
      display: table;
      content: " ";
      clear: both; }
    .modal-rank-guild .modal-dialog .modal-content .modal-body .border {
      position: absolute;
      left: -20px;
      top: -15px;
      width: 104%;
      height: 104%; }
      @media (max-width: 768px) {
        .modal-rank-guild .modal-dialog .modal-content .modal-body .border {
          position: absolute;
          left: -10px;
          top: -10px;
          width: 104%;
          height: 103%; } }
    .modal-rank-guild .modal-dialog .modal-content .modal-body .tab {
      position: relative;
      padding-top: 30px; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .tab .nav-tabs {
        position: absolute;
        top: -31px;
        left: 0;
        border-bottom: none; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .tab .nav-tabs li a {
          padding: 0 0px;
          border: none;
          border-bottom: 3px solid transparent;
          background: none;
          font-size: 20px; }
          @media (max-width: 425px) {
            .modal-rank-guild .modal-dialog .modal-content .modal-body .tab .nav-tabs li a {
              font-size: 15px; } }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .tab .nav-tabs li.active a {
          border-bottom: 3px solid;
          border-bottom-color: #f15d69;
          color: #252525; }
    .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 300px;
      border-left: 1px solid #EBE5E4;
      text-align: center; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .info {
        margin-top: 30px; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .team-name {
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        -webkit-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .level {
        height: 20px; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .name {
        color: #252525;
        opacity: 0.5; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .avatar {
        width: 115px;
        height: 115px;
        object-fit: cover;
        border-radius: 50%; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1:first-child {
        padding-left: 0px;
        border: 0px; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1:last-child {
        padding-right: 0px; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .guild-rank-1 {
        padding: 10px;
        width: 170px; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-1 {
        height: 100%; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-1:after {
          display: table;
          content: " ";
          clear: both; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-1 .point {
          color: #eb0000; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-1 .guild-rank-1 {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          bottom: 10px;
          background: url(https://teenidol.vn/Content/Image/Guild/team-top-2.png);
          background-size: 100%;
          background-repeat: no-repeat; }
          .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-1 .guild-rank-1:after {
            display: table;
            content: " ";
            clear: both; }
          .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-1 .guild-rank-1:focus, .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-1 .guild-rank-1:visited, .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-1 .guild-rank-1:active {
            outline: none; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-2 {
        height: 100%; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-2:after {
          display: table;
          content: " ";
          clear: both; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-2 .point {
          color: #eb0000; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-2 .guild-rank-1 {
          left: 50%;
          top: -10px;
          position: absolute;
          transform: translate(-50%);
          background: url(https://teenidol.vn/Content/Image/Guild/team-top-1.png);
          background-size: 100%;
          background-repeat: no-repeat; }
          .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-2 .guild-rank-1:after {
            display: table;
            content: " ";
            clear: both; }
          .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-2 .guild-rank-1:focus, .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-2 .guild-rank-1:visited, .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-2 .guild-rank-1:active {
            outline: none; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-3 {
        height: 100%; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-3:after {
          display: table;
          content: " ";
          clear: both; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-3 .point {
          color: #eb0000; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-3 .guild-rank-1 {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          bottom: -10px;
          background: url(https://teenidol.vn/Content/Image/Guild/team-top-3.png);
          background-size: 100%;
          background-repeat: no-repeat; }
          .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-3 .guild-rank-1:after {
            display: table;
            content: " ";
            clear: both; }
          .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-3 .guild-rank-1:focus, .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-3 .guild-rank-1:visited, .modal-rank-guild .modal-dialog .modal-content .modal-body .col-top-1 .top-3 .guild-rank-1:active {
            outline: none; }
    .modal-rank-guild .modal-dialog .modal-content .modal-body .col {
      margin-bottom: 10px; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col:last-child {
        padding-right: 0px; }
      .modal-rank-guild .modal-dialog .modal-content .modal-body .col .list {
        border: 1px solid #EBE5E4; }
        .modal-rank-guild .modal-dialog .modal-content .modal-body .col .list .rank-item {
          border-bottom: 1px solid #EBE5E4;
          background: #fff; }
          .modal-rank-guild .modal-dialog .modal-content .modal-body .col .list .rank-item:hover {
            background: #EBE5E4; }

