/*#region [Variable]*/
/*#endregion*/
.modal-popup-event {
  overflow: hidden; }
  .modal-popup-event .modal-dialog {
    max-width: 600px;
    margin-top: 50px !important; }
    .modal-popup-event .modal-dialog:after {
      display: table;
      content: " ";
      clear: both; }
  .modal-popup-event .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
    height: 100%; }
    .modal-popup-event .modal-content button {
      position: absolute;
      right: 0;
      z-index: 999; }
    .modal-popup-event .modal-content .modal-body {
      width: 100%;
      padding: 0; }
      .modal-popup-event .modal-content .modal-body .title {
        POSITION: ABSOLUTE;
        top: 32%;
        left: 50%;
        z-index: 999;
        transform: translate(-45%);
        font-size: 19px;
        max-width: 250px;
        color: #fff; }
      .modal-popup-event .modal-content .modal-body .image {
        POSITION: ABSOLUTE;
        top: 44%;
        left: 50%;
        transform: translate(-45%);
        font-size: 21px;
        width: 22%;
        height: 33%; }
      .modal-popup-event .modal-content .modal-body .PromotionName {
        POSITION: ABSOLUTE;
        top: 69%;
        left: 49%;
        z-index: 999;
        transform: translate(-45%);
        font-size: 15px;
        max-width: 250px;
        color: #f15d69;
        text-align: center; }
      .modal-popup-event .modal-content .modal-body .PromotionValueDescription {
        POSITION: ABSOLUTE;
        top: 24%;
        left: 44%;
        z-index: 999;
        transform: translate(-45%);
        font-size: 14px;
        width: 100%;
        height: 100%;
        color: #f15d69; }
      .modal-popup-event .modal-content .modal-body .title_Item {
        POSITION: ABSOLUTE;
        top: 40%;
        left: 50%;
        z-index: 999;
        transform: translate(-45%);
        font-size: 15px;
        max-width: 250px;
        color: #f15d69;
        text-align: center; }
      .modal-popup-event .modal-content .modal-body .content {
        width: 100%; }
        .modal-popup-event .modal-content .modal-body .content .photo {
          width: 100%;
          height: auto; }
  .modal-popup-event #bannerCarousel {
    height: 100%; }
    .modal-popup-event #bannerCarousel .carousel-inner {
      height: 100%; }
    .modal-popup-event #bannerCarousel .carousel-caption {
      color: #f15d69;
      font-size: 14px;
      padding: 0;
      padding-top: 3px;
      position: absolute;
      bottom: -35px;
      left: 0 !important;
      text-align: center;
      width: 100%; }
      .modal-popup-event #bannerCarousel .carousel-caption p {
        margin: 0 0 0; }

