/*#region [Variable]*/
/*#endregion*/
.modal-show-opening .modal-dialog {
  width: 750px; }

.modal-show-opening .modal-body {
  height: 400px;
  padding: 5px;
  overflow-y: auto; }
  .modal-show-opening .modal-body:after {
    display: table;
    content: " ";
    clear: both; }

