<img-scale class="photo" style="width: 100%; height: 530px" link="/Content/Image/error-404.png" scale="best-fit" rescaleonresize="true"></img-scale>
<style>
    @media (max-width: 375px) {
        .body.container {
            min-height: 200px !important;
        }

        .photo {
            height: 155px !important;
        }
    }

    @media (max-width: 414px) {
        .body.container {
            min-height: 200px !important;
        }

        .photo {
            height: 200px !important;
            margin-bottom:10px;
        }
    }
</style>