<div class="group">
    <div class="container">
        <ul class="banner-carousel" rn-carousel rn-carousel-auto-slide rn-carousel-pause-on-hover>
            <!--<li ng-repeat="item in listBannerTop">
                <a target="_blank" href="{{item.link}}">
                    <img-scale link="{{item.image}}" scale="best-fit" rescaleonresize="true"></img-scale>
                </a>
            </li>-->
            <li >
                <a target="_blank" href="https://teenidol.vn/app">
                    <img link="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBY6X96Pl1JbXuI1BwlD6YMojd8H3Aqlk6yBVgHMazXCm8kMjy" scale="best-fit" rescaleonresize="true"/>
                </a>
            </li>
            <li >
                <a target="_blank" href="https://teenidol.vn/app">
                    <img link="https://4.bp.blogspot.com/-dldMbGQuMqQ/V_GXXv5xQtI/AAAAAAAAEU4/wFgsErpVLL8AUNwOg0wbLEF6P7NkPcYCgCLcB/s640/hinh-nen-girl-xinh-dang-yeu-nhat-6.jpg" scale="best-fit" rescaleonresize="true" />
                </a>
            </li>
            <li>
                <a target="_blank" href="https://teenidol.vn/app">
                    <img link="http://i.imgur.com/nr2NNevl.jpg" scale="best-fit" rescaleonresize="true" />
                </a>
            </li>
            
        </ul>
    </div>
</div>
<div class="group">
    <div class="background-home">
    </div>
    <div class="container">
        
    </div>
</div>

<div class="group">
    <div class="container">
        
    </div>
</div>
