
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" ng-click="onClose()"><span>×</span></button>
    <a href="{{newBannerLink}}" target="{{newBannerLink}}" id="modal-news-banner-link">
        <img ng-src="{{newBannerImg}}" alt=""/>
    </a>
    <!--<a href="https://teenidol.vn/detailnews/Tung-bung-countdown---Rung-Roi-Qua-Khung" target="https://teenidol.vn/detailnews/Tung-bung-countdown---Rung-Roi-Qua-Khung" id="modal-news-banner-link">
        <img src="../../Content/Image/Banner/eventcd22122016.png" />
        <div class="clock"></div>
    </a>
        <script type="text/javascript">
            var clock;

            $(document).ready(function () {

                // Grab the current date
                var currentDate = new Date();

                // Set some date in the future. In this case, it's always Jan 1
                var futureDate = new Date(currentDate.getFullYear() + 1, 0, 1);

                // Calculate the difference in seconds between the future and current date
                var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

                // Instantiate a coutdown FlipClock
                clock = $('.clock').FlipClock(diff, {
                    clockFace: 'DailyCounter',
                    countdown: true
                });
            });
        </script>-->
</div>
