<div class="modal-header">
    <h3 class="modal-title">
        <span class="modal-title">Báo Danh Hằng Ngày</span>
        <button type="button" class="close" ng-click="onClose()">&times;</button>
    </h3>
</div>

<div class="modal-body">
    <div class="list-day-check show-animate">
        <div class="col show-animate" ng-repeat="x in listDayCheck.Items">
            <img class="" ng-class="{true:'check',false:''}[listDayCheck.PageCount >= x.DaySignInReward.MinCount]" data-align="center" ng-src="{{x.DaySignInReward.RewardPhoto}}">
            <div class="name">{{x.DaySignInReward.Name}}</div>
            <div class="description">{{x.DaySignInReward.Description}}</div>
        </div>
    </div>
    <button class="btn btn-red" ng-click="DoDaySignIn($event)">Báo danh(Đã được {{countDayCheck.Length}} lần liên tiếp!) </button>
    <div class="clearfix"></div>
</div>