
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="onClose()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Thông Tin Gia Tộc</h4>
</div>
<div class="modal-body">
    <div class="col-md-6">
        <div class="toc_truong">
            <div class="list-item-animate">
                <a class="guild-rank-1" href="#">
                    <img class="avatar" ng-src="{{ListUserInGuild.Items1.Guild.PhotoLink}}" />
                    <div class="info">
                        <div class="team-name">{{ListUserInGuild.Items1.Guild.Name}}</div>
                        <img class="level" ng-src="{{ListUserInGuild.Items1.GuildLevel.Photo ?ListUserInGuild.Items1.GuildLevel.Photo: '' }}" />
<!--                        <div class="point coin">-->
<!--                            <i class="coin-icon"></i> {{ListUserInGuild.Items1.Guild.Ruby}} k-->
<!--                        </div>-->
                        <div class="name">Số lượng: {{ListUserInGuild.Items.length}}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="join-guild ng-scope">
            <button type="submit" class="btn btn-default btn-primary" is-loading="ListUserInGuild.isBusy" ng-click="onUserSendRequestJoinGuild()"><i class="fa fa-bookmark" aria-hidden="true"></i> Gia Nhập</button>
        </div>
        <div class="col-md-12 master">
            <label>Trưởng tộc:</label>
            <div class="list-guild">
                <list-guild-rank link="{{'user/' + ListUserInGuild.Items1.Owner.Id}}"
                                 link-new-tab="{{1}}"
                                 avatar="{{ListUserInGuild.Items1.Owner.AvatarPhoto}}"
                                 team-name="{{ListUserInGuild.Items1.Owner.Name}}"
                                 name-position="Trưởng tộc"
                                 level-name="{{ListUserInGuild.Items[0].StarLevel ? ListUserInGuild.Items[0].StarLevel.Name : 'Level 1'}}"
                                 level-photo="{{ListUserInGuild.Items[0].StarLevel ? ListUserInGuild.Items[0].StarLevel.Photo : ListUserInGuild.Items[0].GroupLevel.Photo}}"
                                 next-level-point-need="{{ListUserInGuild.Items[0].NextGroupLevel.Point - ListUserInGuild.Items[0].UserStarData.CoinGetFromGift | number}}"
                                 display="coin"
                                 ></list-guild-rank>
             
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-info" ng-if="ListUserInGuild.status == 'loading'">
            <i class="fa fa-spin fa-circle-o-notch"></i> Đang tải...
        </div>
        <div class="alert alert-warning" ng-if="ListUserInGuild.status == 'error'">
            {{ListUserInGuild.message}}
        </div>
        <div class="list" ng-show="ListUserInGuild.status=='loaded'">
            <div class="title">Các Thành Viên</div>
            <div class="list-guild" ng-repeat="(i,z) in ListUserInGuild.Items">
                <list-guild-rank link="user/{{z.User.Id}}"
                                 link-new-tab={{1}}
                                 avatar="{{z.User.AvatarPhoto}}"
                                 team-name="{{z.User.Name}}"
                                 name-position="{{z.GuildPosition.Name}}"
                                 level-name="{{z.StarLevel ? z.StarLevel.Name :  'Level 1'}}"
                                 level-photo="{{z.GroupLevel ? z.GroupLevel.Photo : z.GroupLevel.Photo}}"
                                 next-level-point-need="{{z.NextGroupLevel.Point - z.UserStarData.CoinGetFromGift | number}}"
                                 display="coin"
                                 coin="z.User.TotalCoinUsed"
                                 index-value="i + 1"></list-guild-rank>
                <button class="get-reward btn btn-hover-primary" ng-click="onWhatDetailUser(z.User.Id)">Xem thông tin</button>
            </div>
            <div class="next ng-scope">
                <button ng-if="!ListUserInGuild.nextList" class="btn btn-primary" ng-click="onGetListUserInGuild(ListUserInGuild.pageIndex)">Xem Thêm</button>
            </div>
        </div>
    </div>
</div>