<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="onClose()">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">Mỏ Vàng</h4>
<!--    <button class="btn btn-blue" ng-click="showInfoTower()">Thông tin</button>-->
</div>

<div class="modal-body">
<!--    <div class="name">{{UserGuildInfo.Items.BankAccount.Balance}}</div>-->
<!--    <img src="/Content/Image/Guild/goldmine.jpg" class="photo"/>-->
<!--    <div class="form-group">-->
<!--        <label>Số tiền bạn nhận được</label>-->
<!--        <div style="font-size: 15px;">({{UserGuildInfo.Items.BankAccount.Balance ? UserGuildInfo.Items.BankAccount.Balance : '0'}} <i class="coin-icon"></i>)</div>-->
<!--    </div>-->
<!--    <div class="center">-->
<!--        <button class="btn btn-primary" ng-click="onReceiveBonusCoin()">Nhận</button>-->
    <!-- </div>-->
    <div class="alert alert-warning">Chức năng đang trong giai đoạn phát triển.</div>
</div>