
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="onClose()">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">Bảng xếp hạng:</h4>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-target="#modal-show-rank-current" data-toggle="tab">Show hiện tại</a>
        </li>
        <li>
            <a data-target="#modal-show-rank-all" data-toggle="tab">Tất cả</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="modal-show-rank-current">
            <div class="alert alert-info" ng-if="showRank.currentStatus == 'loading'">
                <i class="fa fa-spin fa-circle-o-notch"></i> Đang tải...
            </div>

            <div class="alert alert-danger" ng-if="showRank.currentStatus == 'error'">
                {{showRank.currentError}}
            </div>

            <div class="alert alert-success" ng-if="showRank.currentStatus == 'loaded' && (showRank.listCurrent == null || showRank.listCurrent.length == 0)">
                Hiện chưa có thông tin để xếp hạng
            </div>

            <div ng-if="showRank.currentStatus == 'loaded' && showRank.listCurrent.length > 0">
                <div class="list-item" ng-repeat="x in showRank.listCurrent">
                    <div class="rank-number">{{$index + 1}}</div>
                    <uc-user-list-item link="user/{{x.SenderUser.Id}}"
                                       id="{{x.SenderUser.Id}}"
                                       avatar="{{x.SenderUser.AvatarPhoto}}"
                                       name="{{x.SenderUser.Name}}"
                                       level-name="{{x.SenderUserLevel.Name}}"
                                       level-photo="{{x.SenderUserLevel.Photo}}"></uc-user-list-item>
                    <div class="value">
                        <i class="coin-icon"></i> {{x.TotalPrice | number}}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="modal-show-rank-all">
            <div class="alert alert-info" ng-if="showRank.allStatus == 'loading'">
                <i class="fa fa-spin fa-circle-o-notch"></i> Đang tải...
            </div>

            <div class="alert alert-danger" ng-if="showRank.allStatus == 'error'">
                {{showRank.allError}}
            </div>

            <div class="alert alert-success" ng-if="showRank.allStatus == 'loaded' && (showRank.listAll == null || showRank.listAll.length == 0)">
                Hiện chưa có thông tin để xếp hạng
            </div>

            <div ng-if="showRank.allStatus == 'loaded' && showRank.listAll.length > 0">
                <div class="list-item" ng-repeat="x in showRank.listAll">
                    <div class="rank-number">{{$index + 1}}</div>
                    <uc-user-list-item link="user/{{x.SenderUser.Id}}"
                                       id="{{x.SenderUser.Id}}"
                                       avatar="{{x.SenderUser.AvatarPhoto}}"
                                       name="{{x.SenderUser.Name}}"
                                       level-name="{{x.SenderUserLevel.Name}}"
                                       level-photo="{{x.SenderUserLevel.Photo}}"></uc-user-list-item>
                    <div class="value">
                        <i class="coin-icon"></i> {{x.TotalPrice|number}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>