<div class="uc-show-action">
    <div class="star-action group">
        <div class="title">Tiết mục từ Idol</div>
        <div class="body">
            <div class="alert alert-info" ng-if="starActionStatus == 'loading'">
                <i class="fa fa-spin fa-circle-o-notch"></i> Đang tải...
            </div>

            <div class="alert alert-danger" ng-if="starActionStatus == 'error'">
                {{starActionError}}
            </div>

            <div class="header" ng-if="starActionStatus == 'loaded'">
                <div class="name">
                    Tiết mục
                </div>
                <div class="coin">
                    <i class="coin-icon"></i>
                </div>
                <div class="vote">
                    Vote
                </div>
                <div class="action"></div>
            </div>

            <div class="list" ng-if="starActionStatus == 'loaded'">
                <div class="star-action-item" data-index="{{$index}}" ng-repeat="x in listStarAction">
                    <div class="name">
                        {{x.Repertoire.Name}}
                    </div>
                    <div class="coin">
                        {{helper.formatNumber(x.Repertoire.Price)}}
                    </div>
                    <div class="vote">
                        {{helper.formatNumber(x.Repertoire.TotalVote)}}
                    </div>
                    <div class="action">
                        <button class="vote-action btn btn-default" data-toggle="tooltip" data-placement="top" title="Bình chọn" ng-click="onVoteStarAction($event)" ng-if="!sessionService.isSigned() || sessionService.userId() != starId">
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                        <button class="check-action btn btn-default" data-toggle="tooltip" data-placement="top" title="Xác nhận đã thực hiện hành động" ng-click="onCheckStarAction($event)" ng-if="sessionService.userId() == starId && x.Repertoire.TotalVote > 0">
                            <i class="fa fa-check-square-o"></i>
                        </button>
                        <button class="delete-action btn btn-default" data-toggle="tooltip" data-placement="top" title="Xóa" ng-click="onDeleteStarAction($event)" ng-if="sessionService.userId() == starId && x.Repertoire.TotalVote == 0">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="user-action group">
        <div class="title">Yêu cầu từ thành viên</div>
        <div class="body">
            <div class="alert alert-info" ng-if="userActionStatus == 'loading'">
                <i class="fa fa-spin fa-circle-o-notch"></i> Đang tải...
            </div>

            <div class="alert alert-danger" ng-if="userActionStatus == 'error'">
                {{userActionError}}
            </div>

            <div class="header" ng-if="userActionStatus == 'loaded'">
                <div class="name">
                    Tiết mục
                </div>
                <div class="coin">
                    <i class="coin-icon"></i>
                </div>
                <div class="user">
                    Thành viên
                </div>
                <div class="action"></div>
            </div>

            <div class="list" ng-if="userActionStatus == 'loaded'">
                <div class="user-action-item" data-index="{{$index}}" ng-repeat="x in listUserAction">
                    <div class="name">
                        {{x.WishList.Content}}
                    </div>
                    <div class="coin">
                        {{helper.formatNumber(x.WishList.CurrentPrice)}}
                    </div>
                    <div class="user">
                        <a href="#" ud-role="user-popup" user-id="{{x.FromUserId.Id}}" schedule-id="{{scheduleId}}">{{x.FromUserId.Name}}</a>
                    </div>
                    <div class="action">
                        <button class="check-action btn btn-default" data-toggle="tooltip" data-placement="top" title="Xác nhận đã thực hiện hành động" ng-click="onCheckUserAction($event)" ng-if="sessionService.userId() == starId">
                            <i class="fa fa-check-square-o"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form ng-submit="onPostNewAction($event)">
        <input type="text" class="name form-control" placeholder="Tên tiết mục" ng-model="newActionName"/>
        <input type="number" class="coin form-control" placeholder="Giá" min="100" ng-model="newActionCoin"/>
        <button type="submit" class="btn btn-primary">Gửi</button>
    </form>
</div>