/*#region [Variable]*/
/*#endregion*/
[role=main] {
  font-size: 12px; }
  [role=main] .user-panel {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 3px; }
    [role=main] .user-panel:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      background: #f15d69; }
    [role=main] .user-panel .uc-menu-user {
      float: left;
      width: 200px;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit; }
      [role=main] .user-panel .uc-menu-user li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
        [role=main] .user-panel .uc-menu-user li a {
          display: block;
          padding: 10px;
          color: rgba(255, 255, 255, 0.7);
          text-decoration: none; }
          [role=main] .user-panel .uc-menu-user li a:hover {
            color: #fff;
            background: rgba(0, 0, 0, 0.1); }
          [role=main] .user-panel .uc-menu-user li a .fa {
            width: 20px;
            margin-right: 5px;
            text-align: center;
            font-size: 15px; }
        [role=main] .user-panel .uc-menu-user li.active {
          background: #fff; }
          [role=main] .user-panel .uc-menu-user li.active a {
            color: #000; }

[role=main] {
  font-size: 12px; }
  [role=main] .user-panel {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 3px; }
    @media (max-width: 768px) {
      [role=main] .user-panel:before {
        display: none; }
      [role=main] .user-panel .left-panel {
        float: none;
        display: block;
        width: 100%;
        background: #f15d69;
        border-radius: 0;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit; }
      [role=main] .user-panel .right-panel {
        float: none;
        display: block;
        width: 100%; } }

